.topgridcontainer
{
	width: 90&;
	display:grid;
	padding-top: 5vh;
	grid-template-columns: 1fr 2fr 1fr;
	grid-auto-rows: minmax(auto, auto);
	grid-template-areas: ". . skf"
						 "bkm hm mlm";
	
	
	
}
.maingridcontainer
{
	width: 100%;
	display:grid;
	padding: 30px;
	grid-template-columns: 1fr 2fr 1fr;
	grid-auto-rows: minmax(100px, auto);
	grid-template-areas:"nyheterImg nyaImg veckansImg"
						"nyheter nya veckans"
	
	
}

.nyheterImg
{
	
		grid-area: nyheterImg;
		padding-top:10em;
		Text-decoration:none;	
}

.nyheter
{
	font-size: 1em;
	text-align: center;
	
}
.nyaImg
{
		grid-area: nyaImg;
		Text-decoration:none;	
}
.veckansImg
{
		grid-area: veckansImg;
		padding-top: 10em;
		Text-decoration:none;	
}

.meny1
{
		grid-area: bkm;
		background-color: rgba(255, 255, 255, 0.8);
		border: 1px solid rgba(0, 0, 0, 0.8);
		padding-top:20px;
		font-size: 30px;
		text-align: center;
		border-radius: 15px;
		Text-decoration:none;		
		
}
.hemmeny
{
		grid-area: hm;
		padding-top:20px;
		background-color: rgba(255, 255, 255, 0.8);
		border: 1px solid rgba(0, 0, 0, 0.8);
		font-size: 30px;
		text-align: center;
		border-radius: 15px;
		text-decoration:none;
		background: url(https://img.koket.se/media/pepparkakor-grundrecept.jpg);
		background-repeat: no-repeat;
		background-size: 100% 100%;
}

.meny2
{
		grid-area: mlm;
		background-color: rgba(255, 255, 255, 0.8);
		border: 1px solid rgba(0, 0, 0, 0.8);
		padding: 20px;
		font-size: 30px;
		text-align: center;
		border-radius: 15px;
		Text-decoration:none;
}

a:visited
{
	color:black;
}
a:hover
{
	background-color:blue;
}
.text
{
	text-align:center;
	border: 2px solid black;
	font-size: 26px;
	
	
	
}
body
{
	background-color: rgba(0, 137, 299, 0.8);
}
img
{
	width: 150px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	width: 50%;

}

.sokfalt input[type=text]
	{
	 
	  padding: 6px;
	  border: solid black 2px;
	  margin-top: 8px;
	  margin-right: 16px;
	  font-size: 17px;
	  grid-area: skf;
	}

